<header class="bg-white sticky-top shadow">
  <div class="row col-12">
    <nav class="nav col-12 navbar navbar-expand-md navbar-light bg-white">

        {{#if @blog.logo}}
          <a class="navbar-brand" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" width="auto" height="30px"/></a>
        {{else}}
          <a class="navbar-brand" href="{{@blog.url}}">{{@blog.title}}</a>
        {{/if}}


      {{#if @blog.navigation}}

      <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        {{navigation}}
      </div>

      {{/if}}

    </nav>
  </div>
</header>
