{{#if @labs.subscribers}}
<div class="col-12 col-md-6">
  <section class="card mt-5">
    <div class="card-body p-5">
      <h3 class="card-title">Liity postituslistalle tästä</h3>
      <p class="card-text">Uutiskirjeessä saat tiedon uusista postauksista ensimmäisenä. Ei turhia viestejä.</p>

      <form method="post" action="{{action}}" class="row">
          {{hidden}}
          <div class="col-10 px-0">
          {{input_email class="form-control p-2" placeholder="matti.meikalainen@domain.fi" value=email autofocus=false}}
          </div>
          <div class="col-2 px-0">
          <button class="btn btn-info p-2 ml-1" type="submit">Lähetä</button>
          </div>
          {{script}}
      </form>

      {{#if error}}<p>{{ error.message }}</p>{{/if}}

    </div>
  </section>
</div>
{{/if}}
