{{!< default}}

{{#author}}

  {{> "header"}}

  <div class="row py-5">
    <div class="col-12 col-sm-6 text-center text-sm-right">
      {{#if profile_image}}
        <img class="rounded-circle p-3" src="{{profile_image}}" alt="{{name}}" width="300px" />
      {{/if}}
    </div>
    <div class="col-12 col-sm-6 text-center text-sm-left p-3">
      <h1 class="display-2">{{name}}</h1>
      {{#if bio}}
        <h2 class="lead">{{plural ../pagination.total empty='Ei artikkeleita' singular='% artikkeli' plural='% artikkelia'}}</h2>
      {{/if}}
      <p class="my-4">{{bio}}</p>
      {{#if location}}
        <p>{{location}}</p>
      {{/if}}
    </div>
  </div>
{{/author}}

<main class="row masonry" data-target=".card" data-col-xs="12" data-col-md="6" data-col-lg="4">
  {{#foreach posts}}
    {{> "post-card"}}
  {{/foreach}}
</main>
