<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{meta_title}}</title>

  <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
</head>

<body class="container-fluid p-0">

  <header class="row mw-100 m-0 px-0 py-4 bg-white sticky-top shadow">
    <div class="row col-12">{{> "site-nav"}}</div>
  </header>

  <main>
    <section class="row my-5">
      <h1 class="col-12 display-1 text-center">Virhe 404</h1>
      <p class="col-12 display-4 text-center">Sivua ei löytynyt</p>
      <a  class="col-12 text-center" href="{{@blog.url}}">Palaa etusivulle →</a>
    </section>
  </main>

  {{#get "posts" limit="6"}}
    <aside class="row masonry" data-target=".card" data-col-xs="12" data-col-md="6" data-col-lg="4">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </aside>
  {{/get}}

  {{> "footer"}}

</body>
</html>
