<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{meta_title}}</title>

  <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}">
  <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
</head>

<body class="container-fluid p-0">

  {{> "header"}}

  <main>
    <section class="my-5">
      <h1 class="col-12 display-1 text-center">{{t "Error"}} {{code}}</h1>
      <p class="col-12 display-4 text-center">{{message}}</p>
    </section>

    {{#if errorDetails}}
      <section>
        <h3>{{t "Theme Errors:"}}</h3>
        <ul>
          {{#each errorDetails}}
            <li>
              <em>{{{rule}}}</em>
              {{#each failures}}
                <p><span>{{t "Ref:"}} {{ref}}</span></p>
                <p><span>{{t "Message:"}} {{message}}</span></p>
              {{/each}}
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </main>

  {{#get "posts" limit="6"}}
    <aside class="row masonry" data-target=".card" data-col-xs="12" data-col-md="6" data-col-lg="4">
      {{#foreach posts}}
        {{> "post-card"}}
      {{/foreach}}
    </aside>
  {{/get}}

  {{> "footer"}}

  </body>
  </html>
