{{!< default}}

  <header class="mw-100 bg-white sticky-top shadow">
    <div class="row col-12">{{> "site-nav"}}</div>
  </header>

  {{#post}}

  <main>
    <article class="row">

      {{#if feature_image}}
      <div class="shadow mw-100">
        <a href="{{url}}"><img class="card-img-top feature-image" src="{{feature_image}}"></a>
      </div>
      {{/if}}

      <header class="col-12 mt-5 mb-2">
        {{#if featured}}
          <div class="text-warning"><p class="lead font-weight-bold">POIMINTO</p></div>
        {{/if}}
        <h1 class="display-4">{{title}}</h1>
        <p>
          <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MM.YYYY"}}</time> -
          {{#primary_tag}}
            <a href="{{url}}">{{name}}</a> -
          {{/primary_tag}}
          {{reading_time  seconds=(t "Alle minuutissa luettava") minute=(t "1 minuutissa luettava") minutes=(t "% minuutissa luettava")}}
        </p>
      </header>

      <section class="col-12 px-3">
        {{content}}
      </section>

    </article>
  </main>

  <div class="row justify-content-center">
  {{#primary_author}}
  <div class="col-12 col-md-6">
    <div class="card mt-5">

      <div class="row card-body">
        <div class="col-12 col-sm-6">
          {{#if profile_image}}
            <img class="rounded-circle py-3" src="{{profile_image}}" alt="{{name}}" width="300px" />
          {{/if}}
        </div>
        <div class="col-12 col-sm-6 py-3">
          <h1 class="card-title display-4">{{name}}</h1>
          {{#if bio}}
            <h2 class="card-subtitle lead">{{plural ../pagination.total empty='Ei artikkeleita' singular='% artikkeli' plural='% artikkelia'}}</h2>
          {{/if}}
          <p class="card-text my-4">{{bio}}</p>
          {{#if location}}
            <p class="card-text lead">{{location}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/primary_author}}


  {{#if @labs.subscribers}}
  <div class="col-12 col-md-6">
    <section class="card mt-5">
      <div class="card-body p-5">
        <h3 class="card-title">Liity postituslistalle tästä</h3>
        <p class="card-text">Uutiskirjeessä saat tiedon uusista postauksista ensimmäisenä. Ei turhia viestejä.</p>
        {{subscribe_form}}
      </div>
    </section>
  </div>
  {{/if}}

</div>

  <aside class="row">

    {{#next_post}}
        {{> "post-card"}}
    {{/next_post}}

    {{#prev_post}}
        {{> "post-card"}}
    {{/prev_post}}

  </aside>

  {{/post}}
