{{!< default}}

  {{> "header"}}

  {{#post}}

  <main>
    <article class="row">

      {{#if feature_image}}
      <a href="{{url}}"><img class="feature-image shadow" src="{{feature_image}}" alt="{{title}}"></a>
      {{/if}}

      <header class="col-12 mt-5 mb-2">
        {{#if featured}}
          <div class="text-warning"><p class="lead font-weight-bold">POIMINTO</p></div>
        {{/if}}
        <h1 class="display-4">{{title}}</h1>
        <p>
          <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MM.YYYY"}}</time> -
          {{#primary_tag}}
            <a href="{{url}}">{{name}}</a> -
          {{/primary_tag}}
          {{reading_time  seconds=(t "Alle minuutissa luettava") minute=(t "1 minuutissa luettava") minutes=(t "% minuutissa luettava")}}
        </p>
      </header>

      <section class="col-12 px-3">
        {{content}}
      </section>

    </article>
  </main>

  <div class="row justify-content-center">
  {{#foreach authors}}
  <div class="col-12 col-md-6">
    <div class="card mt-5">

      <div class="row card-body">
        <div class="col-12 col-sm-6 align-self-center">
          {{#if profile_image}}
            <img class="rounded-circle py-3" src="{{profile_image}}" alt="{{name}}" width="300px" />
          {{/if}}
        </div>
        <div class="col-12 col-sm-6 py-4 align-self-center">
          <a href="{{url}}"><h3 class="card-title font-weight-bold">{{name}}</h3></a>
          <p class="card-text my-4">{{bio}}</p>
          {{#if location}}
            <p class="card-text lead">{{location}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/foreach}}

  {{subscribe_form}}

</div>

  <aside class="row">

    {{#next_post}}
        {{> "post-card"}}
    {{/next_post}}

    {{#prev_post}}
        {{> "post-card"}}
    {{/prev_post}}

  </aside>

  {{/post}}
